<h1>Listing <%= BigbluebuttonServer.human_name %>:</h1>

<table>
  <tr>
    <th><%= BigbluebuttonServer.human_attribute_name(:name) %></th>
    <th><%= BigbluebuttonServer.human_attribute_name(:url) %></th>
    <th><%= BigbluebuttonServer.human_attribute_name(:salt) %></th>
    <th><%= BigbluebuttonServer.human_attribute_name(:version) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= server.url %></td>
    <td><%= server.salt %></td>
    <td><%= server.version %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_bigbluebutton_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_bigbluebutton_server_path %>
