<h1><%= BigbluebuttonServer.model_name.human %>:</h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= BigbluebuttonServer.human_attribute_name(:name) %>:</b>
  <%= @server.name %>
</p>

<p>
  <b><%= BigbluebuttonServer.human_attribute_name(:url) %>:</b>
  <%= @server.url %>
</p>

<p>
  <b><%= BigbluebuttonServer.human_attribute_name(:salt) %>:</b>
  <%= @server.salt %>
</p>

<p>
  <b><%= BigbluebuttonServer.human_attribute_name(:version) %>:</b>
  <%= @server.version %>
</p>

<p>
  <b><%= BigbluebuttonServer.human_attribute_name(:param) %>:</b>
  <%= @server.param %>
</p>


<%= link_to 'Edit', edit_bigbluebutton_server_path(@server) %> |
<%= link_to 'View rooms', rooms_bigbluebutton_server_path(@server) %> |
<%= link_to 'Activity monitor', activity_bigbluebutton_server_path(@server) %> |
<%= link_to 'Destroy', bigbluebutton_server_path(@server), :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', bigbluebutton_servers_path %>
