<%= form_for(@playback_type) do |f| %>
  <% if @playback_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playback_type.errors.count, "error") %>:</h2>
      <ul>
      <% @playback_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= @playback_type.id %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br />
    <%= @playback_type.identifier %>
  </div>
  <div class="field">
    <%= f.label :i18n_key %><br />
    <%= @playback_type.i18n_key %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
