<h1><%= BigbluebuttonPlaybackType.model_name.human %>:</h1>

<p>
  <b><%= BigbluebuttonPlaybackType.human_attribute_name(:id) %>:</b> <%= @playback_type.id %>
</p>

<p>
  <b><%= BigbluebuttonPlaybackType.human_attribute_name(:identifier) %>:</b> <%= @playback_type.identifier %>
</p>

<p>
  <b><%= BigbluebuttonPlaybackType.human_attribute_name(:i18n_key) %>:</b> <%= @playback_type.i18n_key %>
</p>

<p>
  <b><%= BigbluebuttonPlaybackType.human_attribute_name(:visible) %>:</b> <%= @playback_type.visible %>
</p>

<p>
  <span>Access:</span>
  <%= link_to 'Edit', edit_bigbluebutton_playback_type_path(@playback_type) %> |
  <%= link_to 'Back', bigbluebutton_playback_types_path %>
</p>
