<h1>Join the meeting <%= @room.name %></h1>

<p id="error"><%= flash[:error] %></p>

<p>This meeting was created from another application.<br/>You must provide a name and a password to join:</p>

<%= form_tag external_bigbluebutton_server_rooms_path(@server) do %>

  <div class="field">
    Name:<br />
    <% if bigbluebutton_user.nil? %>
      <%= text_field_tag "user[name]", "" %>
    <% else %>
      <%= text_field_tag "user[name]", bigbluebutton_user.name %>
    <% end %>
  </div>
  <div class="field">
    Password:<br />
    <%= password_field_tag "user[password]", "" %>
  </div>

  <%= submit_tag "Submit" %>
<% end %>
