<h1>Test application:</h1>

<%= link_to('View server list', bigbluebutton_servers_path) %> (<%= @servers.count %> servers)<br/>
<%= link_to('View room list', bigbluebutton_rooms_path) %> (<%= @rooms.count %> rooms)<br/>
<%= link_to('View recording list', bigbluebutton_recordings_path) %> (<%= @recordings.count %> recordings)<br/>
